
@{
    ViewBag.Title = "NotImplemented";
}

<h2>NotImplemented</h2>

<h4>Error Details:</h4>
<p>Controller Name: @Model.ControllerName</p>
<p>Action Name: @Model.ActionName</p>
<p>Message: @Model.Exception.Message</p>
<p>Exception: @Model.Exception</p>
